@model List<Pasifika.Model.Destacado>

<div class="thumbnails">
    <!-- row thumbs -->
    <div class="row">
        @{int cant = 0;}

        @foreach (var d in Model)
        {
            <!-- thumb-->
            <div class="col-xs-6 col-md-4">
                <a href="@d.Link" class="thumbnail">
                    <div class="texto-27">@d.Titulo</div>
                    <img alt="@d.Alt" src="~/Content/images/destacado/@d.PaginaId/@d.Foto" class="img-responsive">
                    <div class="caption">
                        <p class="texto-6">@d.SubTitulo</p>
                        <p class="texto-5">@d.SubTitulo2</p>
                    </div>
                </a>
            </div>
            <!-- /.thumb-->

            /*cant++;
            if (cant % 3 == 0)
            {
                    @:</div>
                    @:<div class="row">
            }*/
        }
        </div>
    </div>
    <!-- /.row thumbs -->
