@model Pasifika.WebUI.ViewModels.HomeViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section header
{
    @Html.Action("Cargar", "Metatag", new { seccionId = 1 })
}

@Html.Action("Cargar", "Banner", new { seccionId = 1, tipo = 1 })


<div class="row modulo visible-xs dropdown-mobile text-center">
    <h2>¿POR QUÉ PASIFIKA VIAJES?<span class="glyphicon glyphicon-chevron-down"></span></h2>
   
    <div class="row text-left">
        <div class="col-xs-12">
            <span class="titular-2">Profesionales expertos</span>
            <p class="texto-9">Todos nuestros años de experiencia a su servicio.</p>
            <span class="titular-2">Propuestas originales</span>
            <p class="texto-9">Cada propuesta de viaje es diseñada a medida.</p>
        </div>
        <div class="col-xs-12">
            <span class="titular-2">Un servicio excepcional</span>
            <p class="texto-9">Nuestro objetivo es superar sus expectativas.</p>
            <span class="titular-2">Asistencia exclusiva</span>
            <p class="texto-9">Estamos a su disposición 24hs durante su viaje.</p>
        </div>
    </div>

    <div class="links-dropdown">
        <p>
            <a href="@Url.RouteUrl(new { controller = "QuienesSomos" , action = "Index"})">Qui&eacute;nes Somos</a>
        </p>
        <p>
            <a href="@Url.RouteUrl(new { controller = "Prensa" , action = "Index"})">Notas de Prensa</a>
        </p>
        <p>
            <a href="@Url.RouteUrl(new { controller = "Colaboradores" , action = "Index"})">Acreditaciones & Colaboradores</a>
        </p>
    </div>
</div>

<div class="row modulo hidden-xs">
    <div class="col-xs-9 col-sm-8 col-md-9">
        <div class="row">
            <div class="col-xs-12">
                <div class="borde-top-gris">
                    <h2 class="titular-1 f-linea-gris text-center">
                        <span>¿POR QUÉ PASIFIKA VIAJES?</span>
                    </h2>
                </div>
            </div>
        </div>
        <div class="row listado-porque">
            <div class="col-xs-6 col">
                <span class="titular-2">Profesionales expertos</span>
                <p class="texto-9">Todos nuestros años de experiencia a su servicio.</p>
                <span class="titular-2">Propuestas originales</span>
                <p class="texto-9">Cada propuesta de viaje es diseñada a medida.</p>
            </div>
            <div class="col-xs-6 col">
                <span class="titular-2">Un servicio excepcional</span>
                <p class="texto-9">Nuestro objetivo es superar sus expectativas.</p>
                <span class="titular-2">Asistencia exclusiva</span>
                <p class="texto-9">Estamos a su disposición 24hs durante su viaje.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="f-linea-gris text-center">
                    <span>
                        <a href="@Url.RouteUrl(new { controller = "QuienesSomos" ,
                                          action = "Index"})" class="btn btn-negro-2 sombra">+ SOBRE NOSOTROS</a>
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="recuadro-blanco">
                <form class="form-horizontal newsletter newsletter-home-form">
                    <div class="form-group">
                        <div class="col-md-2 col-sm-3">
                            <label class="control-label texto-4">Nuestra Newsletter:</label>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <input class="form-control input-text" id="emailNewsHome" type="text" placeholder="">
                        </div>
                        <div class="col-md-3 col-md-offset-1 col-sm-3 col-sm-offset-0">
                            <button type="submit" class="btn btn-blanco submit-button">Suscribirse</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-xs-3 col-sm-4 col-md-3">
        <div class="banner-home">
            <p class="texto-13">
                @Html.Raw(Model.BannerHome.Texto)
            </p>
            <p class="texto-9b">
                @Html.Raw(Model.BannerHome.Texto2)
            </p>
            <a href="#">
                <img src="~/Content/images/bannerhome/@Model.BannerHome.Foto" class="img-responsive pull-right" alt="@Model.BannerHome.Alt">
            </a>
            <a href="@Model.BannerHome.Link" class="btn btn-negro-4">@Model.BannerHome.TextoBoton</a>
        </div>
    </div>
</div>

<div class="row modulo">
    <div class="col-xs-12">
        <div class="borde-top-gris hidden-xs">
            <h2 class="titular-1 f-linea-gris">
                <span>Viajes  &amp; propuestas destacadas</span>
            </h2>
        </div>
        <div class="visible-xs">
            <h2 class="titular-1 f-linea-gris">
                <span>Destinos Destacados</span>
            </h2>
        </div>
    </div>
 </div>

@Html.Action("Cargar", "Destacado", new { seccionId = 1 })
@Html.Action("Cargar", "InfoRelacion", new { seccionId = 1 })


@section scripts
{
    <script>
        $(function () {

            $('.flexslider').flexslider({
                animation: "fade",
                controlNav: true,
                directionNav: false
            });

            $('.dropdown-mobile h2').click(function() {
                $('.dropdown-mobile div').toggleClass('oculto');
            });
        });
    </script>
}