@model Pasifika.WebUI.ViewModels.FormularioIndexViewModel

@using (Html.BeginForm("Save", "Formulario", FormMethod.Post, new { @class = "form-horizontal modulo contacto", @role = "form" }))
{
    <div class="row modulo">
        <div class="col-xs-12">
            <h2 class="titular-1 f-linea-gris-b">
                <span>@Model.Titulo</span>
            </h2>
        </div>
    </div>
    <div class="row modulo">
        <div class="col-xs-12">

            <div class="row">
                <div class="col-sm-5 col-xs-12">
                    <div class="form-group">
                        <div class="col-sm-3 col-xs-12">
                            <label for="Nombre" class="control-label label-izq">Nombre*</label>
                        </div>
                        <div class="col-sm-9 col-xs-12">
                            <div class="form-control-wrapper-izq">
                                <input type="text" class="form-control" id="Nombre" name="Nombre">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-7 col-xs-12">
                    <div class="form-group">
                        <div class="col-sm-3 col-xs-12">
                            <label for="Apellido" class="control-label label-der">Apellidos*</label>
                        </div>
                        <div class="col-sm-9 col-xs-12">
                            <div class="form-control-wrapper-der">
                                <input type="text" class="form-control" id="Apellido" name="Apellido">
                            </div>
                        </div>
                  </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-5 col-xs-12">
                    <div class="form-group">
                        <div class="col-sm-3 col-xs-12">
                            <label for="Email" class="control-label label-izq">Email*</label>
                        </div>
                        <div class="col-sm-9 col-xs-12">
                            <div class="form-control-wrapper-izq">
                                <input type="text" class="form-control" id="Email" name="Email">
                            </div>
                        </div>
                    </div>
                </div>
                @if (Model.Tipo == 1 || Model.Tipo == 3)
                { 
                    <div class="col-sm-7 col-xs-12">
                        <div class="form-group">
                            <div class="col-sm-3 col-xs-12">
                                <label for="Telefono" class="control-label label-der">Teléfono*</label>
                            </div>
                            <div class="col-sm-9 col-xs-12">
                                <div class="form-control-wrapper-der">
                                    <input type="text" class="form-control" id="Telefono" name="Telefono">
                                </div>
                            </div>
                         </div>
                    </div>
                }
            </div>
            <div class="row">
                <div class="col-sm-5 col-xs-12">
                    <div class="form-group">
                        <div class="col-sm-3 col-xs-12">
                            <label for="Pais" class="control-label label-izq">País*</label>
                        </div>
                        <div class="col-sm-9 col-xs-12">
                            <div class="form-control-wrapper-izq">
                                <select id="Pais" name="Pais" class="custom-select">
                                    <option value="es">España</option>
                                    <option value="otro">Otro</option>
                                </select>
                            </div>
                        </div>
                        </div>
                </div>
                <div class="col-sm-7 col-xs-12">
                    <div class="form-group">
                        <div class="col-sm-3 col-xs-12">
                            <label for="idProvincia" class="control-label label-der">Provincia*</label>
                        </div>
                        <div class="col-sm-9 col-xs-12">
                            <div class="form-control-wrapper-der">
                                <input type="hidden" id="Provincia" name="Provincia" />
                                <select id="idProvincia" name="idProvincia" class="custom-select">
                                    <option value="">&nbsp;</option>
                                    @foreach (var p in Model.Provincias.Provincia)
                                    {
                                        <option value="@p.idProvincia">@p.provincia</option>
                                    }
                                </select>
                            </div>
                        </div>
                        </div>
                </div>
            </div>
            @if (Model.Tipo == 1 || Model.Tipo == 3)
            { 
                <div class="row">
                    <div class="col-sm-5 col-xs-12">
                        <div class="form-group">
                            <div class="col-sm-3 col-xs-12">
                                <label class="control-label label-izq">Sexo*</label>
                            </div>
                            <div class="col-sm-9 col-xs-12">
                                <div class="form-control-wrapper-izq">
                                    <label class="radio-inline">
                                        <input type="radio" name="Sexo" id="genero-h" value="H"> Hombre
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="Sexo" id="genero-m" value="M"> Mujer
                                    </label>
                                </div>
                            </div>
                            </div>
                    </div>
                    <div class="col-sm-7 col-xs-12">
                        <div class="form-group nacimiento">
                            <div class="col-sm-3 col-xs-12">
                                <label class="control-label label-der">Fecha de nacimiento</label>
                            </div>
                            <div class="col-sm-9 col-xs-12">
                                <div class="form-control-wrapper-der">
                                    <div class="col-xs-3">
                                        <select id="dia" name="dia" class="custom-select-2 dia">
                                            <option value="">&nbsp;</option>
                                            @for (int j = 1; j <= 31; j++)
                                            {
                                                <option value="@j.ToString().PadLeft(2, '0')">@j.ToString().PadLeft(2, '0')</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="col-xs-3">
                                        <select id="mes" name="mes" class="custom-select-2 mes">
                                            <option value="">&nbsp;</option>
                                            @for (int j = 1; j <= 12; j++)
                                            {
                                                <option value="@j.ToString().PadLeft(2, '0')">@j.ToString().PadLeft(2, '0')</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="col-xs-6">
                                        <select id="anio" name="anio" class="custom-select-2 anio">
                                            <option value="">&nbsp;</option>
                                            @for (int j = DateTime.Now.Year - 15; j >= 1920; j--)
                                            {
                                                <option value="@j.ToString()">@j.ToString()</option>
                                            }
                                        </select>
                                    </div>
                                    </div>
                            </div>
                            </div>
                    </div>
                </div>
            }
            
            @if (Model.Tipo == 3)
            { 
                <div class="row modulo">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label for="sesion" class="control-label sesion">Sesión formativa*</label>
                            <div class="form-control-wrapper-izq sesion">
                                <select id="Sesion" name="Sesion" class="custom-select-2 sesion">
                                    <option value="">&nbsp;</option>
                                    @foreach (var s in Model.Sesiones)
                                    {
                                        <option value="@s.Nombre">@s.Nombre</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            }
            
            @if (Model.Tipo == 1)
            { 
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <input type="text" class="form-control" id="HoraContacto" name="HoraContacto" placeholder="Escriba aquí en que horario prefiere que lo llamemos">
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    if (Model.Tipo == 1)
    {
        <div class="row modulo">
            <div class="col-xs-12">
                <h2 class="titular-1 f-linea-gris-b">
                    <span>información sobre el viaje</span>
                </h2>
            </div>
        </div>
    }
    <div class="row modulo">
        <div class="col-xs-12">
            @if (Model.Tipo == 1)
            { 
                <div class="row">
                    <div class="col-sm-5 col-xs-12">
                        <div class="form-group">
                            <div class="col-sm-3 col-xs-12">
                                <label for="destino" class="control-label label-izq">Destino*</label>
                            </div>
                            <div class="col-sm-9 col-xs-12">
                                <div class="form-control-wrapper-izq">
                                    <input type="hidden" id="destinoText" name="destinoText" />
                                    <select id="destino" name="destino" class="custom-select-2 destino">
                                        <option value="">&nbsp;</option>
                                        @foreach (var d in Model.Destinos.Destino)
                                        {
                                            <option value="@d.idDestino">@d.destino</option>
                                        }

                                    </select>
                                </div>
                            </div>
                         </div>
                    </div>
                    <div class="col-sm-7 col-xs-12">
                        <div class="form-group">
                            <div class="col-sm-4 col-xs-12">
                                <label for="tipoViaje" class="control-label label-2">Tipo de viaje*</label>
                            </div>
                            <div class="col-sm-8 col-xs-12">
                                <div class="form-control-wrapper-der fc-2">
                                    <input type="hidden" id="tipoViajeText" name="tipoViajeText" />
                                    <select id="tipoViaje" name="tipoViaje" class="custom-select-2 tipo">
                                        <option value="">&nbsp;</option>
                                        @foreach (var v in Model.TiposViajes.TipoViaje)
                                        {
                                            <option value="@v.idTipoViaje">@v.tipoViaje</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                        <div class="form-group">
                            <div class="col-sm-4 col-xs-12">
                                <label for="fechaSalidaMes" class="control-label">Fecha aproximada de salida*</label>
                            </div>
                            <div class="col-sm-8 col-xs-12">

                                <div class="form-control-wrapper-izq pull-left fecha-salida-mes">
                                    <input type="hidden" id="fechaSalidaMesText" name="fechaSalidaMesText" />
                                    <select id="fechaSalidaMes" name="fechaSalidaMes" class="custom-select-2 fecha-salida-mes">
                                        <option value="">&nbsp;</option>
                                        @for (int j = 1; j <= 12; j++)
                                        {
                                            <option value="@j.ToString()">@CRM.Model.Util.UppercaseFirst(System.Globalization.CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(j))</option>
                                        }

                                    </select>
                                </div>
                                <div class="form-control-wrapper-izq pull-left fecha-salida-anio">
                                    <select id="fechaSalidaAnio" name="fechaSalidaAnio" class="custom-select-2 fecha-salida-anio">
                                        <option value="">&nbsp;</option>
                                        @for (int j = DateTime.Now.Year; j <= DateTime.Now.Year + 7; j++)
                                        {
                                            <option value="@j.ToString()">@j.ToString()</option>
                                        }
                                    </select>
                                </div>
                            </div>
                    </div>
                </div>
                <div class="row">
                    
                            <div class="col-sm-6 col-xs-12">
                                <label for="presupuestoEstimado" class="control-label label-presu">Presupuesto estimado por persona*</label>
                            </div>
                            <div class="col-sm-6 col-xs-12">
                                <div class="form-control-wrapper-izq presupuesto-estimado">
                                    <select id="presupuestoEstimado" name="presupuestoEstimado" class="custom-select-2 presupuesto-estimado">
                                        <option value="">&nbsp;</option>
                                        <option value="Inferior a 2.000€">Inferior a 2.000€</option>
                                        <option value="2.000€ - 3.000€">2.000€ - 3.000€</option>
                                        <option value="3.000€ – 5.000€">3.000€ – 5.000€</option>
                                        <option value="5.000€ - 10.000€">5.000€ - 10.000€</option>
                                        <option value="Superior a 10.000€">Superior a 10.000€</option>
                                    </select>
                                </div>
                    </div>
                </div>
            }
            
            @if (Model.Tipo == 1 || Model.Tipo == 3)
            {
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label for="Mensaje" class="control-label">
                                <strong>Por favor escriba su mensaje en el siguiente espacio:</strong>
                            </label>
                            <textarea class="form-control mensaje" id="Mensaje" name="Mensaje"></textarea>
                        </div>
                    </div>
                </div>
            }
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="Conocio" class="control-label conocido">¿Cómo nos ha conocido?</label>
                        <div class="form-control-wrapper-izq conocido">
                            <select id="Conocio" name="Conocio" class="custom-select-2 conocido">
                                <option value="">&nbsp;</option>
                                <option value="Buscador en internet">Buscador en internet</option>
                                <option value="Prensa">Prensa</option>
                                <option value="Revista">Revista</option>
                                <option value="Redes Sociales">Redes Sociales</option>
                                <option value="Foro">Foro</option>
                                <option value="Oficina de Turismo">Oficina de Turismo</option>
                                <option value="Recomendación">Recomendación</option>
                                <option value="Ya he viajado con vosotros">Ya he viajado con vosotros</option>
                                <option value="Newsletter">newsletter</option>
                                <option value="Feria">Feria</option>
                                <option value="Otro">Otro</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group pull-left">
                        <div class="pull-left">
                            <label for="Newsletter" class="control-label">Deseo recibir la newsletter</label>
                            <label class="checkbox-inline">
                                <input type="checkbox" name="Newsletter" id="Newsletter" value="true">
                            </label>
                        </div>
                    </div>
                    <div class="form-group pull-left">
                        <div class="pull-left privacidad">
                            <label for="privacidad" class="control-label">
                                He leido y acepto la <a href="@Url.RouteUrl(new { controller = "Notas" ,
                                          action = "Detalle",
                                        url = "politica-privacidad" })" target="_blank">política de privacidad</a>
                            </label>
                            <label class="checkbox-inline">
                                <input type="checkbox" name="privacidad" id="privacidad" value="true">
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3 col-xs-12">
                    <p class="modulo">* datos obligatorios</p>
                </div>
                <div class="col-sm-8 hidden-xs">
                    <p class="modulo texto-7 error-text hide">Por favor revise los campos.</p>
                </div>
                <div class="col-sm-1 col-xs-12">
                    <div class="form-group">
                        <input type="hidden" name="Tipo" value="@Model.Tipo" />
                        <input type="hidden" name="Url" value="@Request.UrlReferrer" />
                        <input type="hidden" name="id" value="@ViewBag.id" />
                        <button type="submit" class="btn btn-negro">ENVIAR</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div class="modal fade feedbackFormulario">
    <div class="modal-dialog  modal-sm">
        <div class="modal-content">
            <div class="modal-header texto-9">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true"><i class="ico borrar-inv"></i></span><span class="sr-only">Cerrar</span>
                </button>
                <h4 class="modal-title  texto-9"><strong>@Model.TituloModalGracias</strong></h4>
            </div>
            <div class="modal-body">
                <p class="texto-9">
                    Muchas gracias por ponerse en contacto con nosotros.
                    <br>
                    <br>
                    <i class="ico petalos-inv"></i>
                </p>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>